<?xml version="1.0"?>

<configuration>
    <appSettings>
        <add key="OurAirports_CountriesPath" value="C:\Places\OurAirports\countries.csv" />
        <add key="OurAirports_RegionsPath" value="C:\Places\OurAirports\regions.csv" />
        <add key="OurAirports_AirportsPath" value="C:\Places\OurAirports\airports.csv" />
    </appSettings>
</configuration>