<?xml version="1.0"?>

<configuration>
    <appSettings>
        <add key="OurAirports_CountriesPath" value="C:\Places\OurAirports\countries.csv" />
        <add key="OurAirports_RegionsPath" value="C:\Places\OurAirports\regions.csv" />
        <add key="OurAirports_AirportsPath" value="C:\Places\OurAirports\airports.csv" />

        <add key="MaxMind_CountriesPath" value="C:\Places\MaxMind\iso-3166-localized.csv" />
        <add key="MaxMind_NonNorthAmericaRegionsPath" value="C:\Places\MaxMind\fips10-4-localized.csv" />
        <add key="MaxMind_NorthAmericaRegionsPath" value="C:\Places\MaxMind\iso-3166-2-localized.csv" />
        <add key="MaxMind_CitiesPath" value="C:\Places\MaxMind\GeoIPCity-localized.csv" />
    </appSettings>
</configuration>